@tailwind base;
@tailwind components;
@tailwind utilities;

.embla {
  margin: auto;
  width: 100%;
  --slide-height: 19rem;
  --slide-spacing: 1px;
  --slide-size: 50%;
}

.embla__container {
  backface-visibility: hidden;
  display: flex;
  touch-action: pan-y;
  margin-left: calc(var(--slide-spacing) * -1);
}

.embla__slide {
  flex: 0 0 var(--slide-size);
  min-width: 0;
  padding-left: var(--slide-spacing);
}

.embla__slide {
  flex: 0 0 var(--slide-size);
  min-width: 0;
  padding-left: var(--slide-spacing);
}
