@tailwind base;
@tailwind components;
@tailwind utilities;

.embla {
  margin: auto;
  width: 100%;
  --slide-height: 19rem;
  --slide-spacing: 1px;
  --slide-size: 50%;
}

.embla__container {
  backface-visibility: hidden;
  display: flex;
  touch-action: pan-y;
  margin-left: calc(var(--slide-spacing) * -1);
}

.embla__slide {
  flex: 0 0 var(--slide-size);
  min-width: 0;
  padding-left: var(--slide-spacing);
}

.embla__slide {
  flex: 0 0 var(--slide-size);
  min-width: 0;
  padding-left: var(--slide-spacing);
}

.dashed-space {
  background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' stroke='%23333' stroke-width='5' stroke-dasharray='15' stroke-dashoffset='56' stroke-linecap='square'/%3e%3c/svg%3e");
}
